<section class="hero is-primary is-medium animated slideInDown">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item roboto medium-text" routerLink="/">Agendamento Web</a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <app-menu></app-menu>
            </div>
        </header>
    </div>
</section>