<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Agendamento Web
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="notification is-danger" *ngIf="erros.length > 0">
            <ul>
              <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
          </div>

          <form [formGroup]="form">
            <p class="control" id="usernameControl">
              <input class="input is-large" type="email" placeholder="E-mail" formControlName="email" [ngClass]=" {'is-danger': (!form.controls.email.valid && !form.controls.email.pristine) }">
              <span class="tag is-danger" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">E-mail inválido</span>
            </p>

            <p class="control">
              <input class="input is-large" type="senha" placeholder="Senha" formControlName="senha" [ngClass]=" {'is-danger': (!form.controls.senha.valid && !form.controls.senha.pristine) }">
              <span class="tag is-danger" *ngIf="!form.controls.senha.valid && !form.controls.senha.pristine">Senha inválida</span>
            </p>

            <p>
              <button (click)="submit()" class="button is-primary is-inverted is-outlined is-large is-fullwidth" [disabled]="!form.valid">ENTRAR</button>
              <br>
              <a routerLink="/registrar" class="button is-link is-fullwidth">AINDA NÃO SOU CADASTRADO</a>
            </p>                  
          </form>
        </div>
      </div>
    </div>
  </div>
</section>