<div class="nav-right nav-menu">
  <a class="nav-item is-active" routerLink="/home">Home</a>
  <a class="nav-item" routerLink="/motoristas/lista">Motoristas</a>
  <a class="nav-item" routerLink="/veiculos/lista">Veículos</a>
  <a class="nav-item" routerLink="/reservas/lista">Reservas</a>  
  <span class="nav-item">
    <a class="button is-primary is-inverted" (click)="logout()">
        <span class="icon">
            <i class="fa fa-power-off"></i>
        </span>
      <span>Sair</span>
  </a>
  </span>
</div>